<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block javascripts_head %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            <body class="{% if is_granted('ROLE_PREVIOUS_ADMIN') %}impersonate{% endif %}"></body>
        {% endblock %}
        {% block javascripts_body %}{% endblock %}
    </body>
</html>
