{% extends 'TechCorpFrontBundle::layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link href='{{ asset("css/style.css") }}' rel="stylesheet"/>
{% endblock stylesheets %}


{% block content %}
	<div class="container">
		<div class="row">
			<div id="content" class="text-center">
				<h1 class="title">Liste des utilisateurs</h1>
				<hr>
				{% for user in users %}
					<div class="col-sm-4 entry">
						<h4 ><a href="{{ path('tech_corp_front_user_timeline', {userId : user.id}) }}">{{ user.username }}</a></h4>
					</div>
				
				{% endfor %}


			</div>
		</div>
		<hr>
	</div>
{% endblock content %}