{% extends 'TechCorpFrontBundle::layout.html.twig' %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
			<h1>A propos</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut egestas nibh. Nullam laoreet, ante porta varius eleifend, lacus neque imperdiet lectus, id ultricies massa massa sed lectus. Nunc vitae faucibus sem. Integer eget tortor tempus, volutpat ante vel, elementum est. Cras posuere scelerisque lacus, eget tempor justo mollis quis. Pellentesque venenatis, leo tempor tincidunt feugiat, nulla turpis placerat enim, non porta arcu ligula quis purus. Phasellus in volutpat sem. Phasellus vel augue tempor, consequat arcu sed, pretium libero. Donec semper nibh quis consectetur varius. Aliquam consequat sed nunc a volutpat. Vivamus aliquam sapien ut elementum tristique. Duis vel dui eu velit mattis pharetra.</p>
		</div>
	</div>
{% endblock content %}