{% extends 'TechCorpFrontBundle::layout.html.twig' %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
			<h1>Hello my friend !!!</h1>
			<p>ceci est la page d'accueil de notre application, que nous allons completer au fur et a mesure des chapîtres de ce livre</p>
			<p><a class="btn btn-primary btn-lg" role="button" href="{{ url('tech_corp_front_about') }}">En savoir plus </a></p>
		</div>
	</div>
{% endblock content %}